.control {
  padding: 5px;
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 100px;
  position: relative;
  z-index: 1;
}

.text1 {
  font-family: "Merriweather";
  font-size: 30px;
  font-weight: 400;
}

.name {
  font-family: "Merriweather";
  margin-top: 10px;
  font-size: 36px;
  font-weight: bold;
  color: #028b9e;
}

.title {
  margin-top: 10px;
  font-family: "Open Sans";
  font-size: 24px;
}

.title-name {
  font-weight: bold;
  color: #028b9e;
}

.title-description {
  font-weight: normal;
}

.control button {
  padding: 10px;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: normal;
  width: 200px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  background-color: #6ad8d1;
}

.control button:hover,
.control button:active {
  background-color: #7ffcf3;
}

.control2 {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  left: 50%;
  background-color: #6ad8d1;
  z-index: -1;
}

.control3 {
  text-align: center;
  width: 39%;
  height: auto;
  top: 15%;
  margin-left: 33%;
  position: relative;
}

.control3 .hillary {
  border-radius: 10px;
  overflow: hidden;
}

.icon {
  margin-left: 15px;
  height: 5px;
  width: 20px;
}

@media all and (max-width: 969px) {
  .control2 {
    left: 0%;
    width: 100%;
    padding: 20px;
    position: relative;
  }

  .control {
    text-align: center;
    align-items: center;
  }

  .hillary {
    top: 5%;
    text-align: center;
  }

  .control {
    margin: 20px;
    width: auto;
  }

  .experience {
    align-items: center;
  }
}

/* (1920x1080) Full HD Display */
@media screen and (min-width: 1920px) {
  .control {
    margin-top: 15%;
    text-align: center;
    align-items: center;
  }

  .control3 {
    top: 18%;
  }
}
